#**Python Programming-Assignment 2**
***Topic:*** *Operators in Python*  
###**Arithmetic Operators**
#####**Q#01.**
**Write a Python program to add two numbers and print the result.**
#####**Answer:**

In [2]:
a = 10
b = 15
print("Result:" ,a+b)

Result: 25

#####**Q#2.**
**Write a program to find the remainder when one number is divided by another.**
#####**Answer:**

In [3]:
x = 8
y = 5
print("Remainder:" ,x%y)

Remainder: 3

#####**Q#3.**
**Write a program to calculate the square of a number using the power operator.**
#####**Answer:**

In [4]:
a = 10
b = 2
print("Square:" ,a**b)

Square: 100

###**Assignment Operator**

1.   List item
2.   List item


#####**Q#4:**

**Write a program that assigns a value to a variable and then increases it by 5 using an assignment operator.**
#####**Answer:**

In [ ]:
x = 15
x+=5
print(x)

20

#####**Q#5:**
**Write a program that multiplies a variable by 2 using an assignment operator.**
#####**Answer:**

In [ ]:
y = 9
y*=2
print(y)

18

#####**Q#6:**
**Write a program that subtracts 10 from a variable using an assignment operator.**
#####**Answer:**

In [ ]:
z = 25
z-=10
print(z)

15

###**Comparison Operators**
#####**Q#7:**
**Write a program to check whether two numbers are equal or not.**
#####**Answer:**

In [ ]:
x = 20
y = 30
print(x==y)   #False

False

In [ ]:
x = 50
y = 50
print(x==y)  #True

True

#####**Q#8:**
**Write a program to check if one number is greater than another.**
#####**Answer:**

In [ ]:
p = 20
q = 12
print(p>q)

True

#####**Q#9:**
**Write a program to compare two numbers and print whether the first number is less than or equal to the second number.**
#####**Answer:**

In [ ]:
num_1 = 56
num_2 = 100
print(num_1<=num_2)

True

###**Logical Operators**
#####**Q#10:**
**Write a program that checks if a number is greater than 5 and less than 20.**
#####**Answer:**

In [ ]:
num = 10
print((num>5)and(num<20))

True

#####**Q#11:**
**Write a program that checks if a number is less than 10 or greater than 50.**
#####**Answer:**

In [ ]:
num = 55
print((num<10)or(num>50))

True

#####**Q#12:**
**Write a program that uses not operator to reverse a condition.**
#####**Answer:**

In [ ]:
 a = 10
 b = 16
 print(not(a>b))  #not False-->True

True

In [ ]:
x = 10
y = 10
print(not(x==y))  #not True-->False

False

###**Membership Operators**
#####**Q#13:**
**Write a program to check if a number exists in a given list.**
#####**Answer:**

In [ ]:
number_list = [1,3,5,7,9,11,13]
print(3 in number_list)  #True

print(4 in number_list)  #False

True
False

#####**Q#14:**
**Write a program to check if a word exists in a given string.**
#####**Answer:**

In [ ]:
string = "I love my Mom."
print("love" in string)  #True

print("hate" in string)  #False

True
False

#####**Q#15:**
**Write a program to check whether a value is not present in a tuple.**
#####**Answer:**

In [ ]:
data = (2,4,6,8,10,12)
print(3 not in data)  #True

print(8 not in data)  #False

True
False